.box-del__item{
    border-radius: 12px;
    padding: 12px 24px;
    border: none;
    color: #fff;
    background-color: rgb(251, 96, 85);
}
.box-del__item.disabled{
    background-color: rgb(245, 157, 150);
}
.box-del__item:not(:disabled):hover{
    background-color: rgb(253, 151, 151);
}





