
li{
    list-style-type:none;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 8px;
   
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board-app__list{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.backlog li{
    box-shadow: 5px 0px 0px 0px rgb(211, 211, 211) inset;
}
.active li{
    box-shadow: 5px 0px 0px 0px rgb(152, 188, 255) inset;
}
.done li{
    box-shadow: 5px 0px 0px 0px rgb(185, 255, 187) inset;
}
.del li{
    box-shadow: 5px 0px 0px 0px rgb(252, 176, 176) inset;
}


.box h2{
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: fit-content;
    
}
.backlog h2{
    background-color: rgb(211, 211, 211);
    color: #727272;
}
.active h2{
    background-color: rgb(124, 167, 247);
    color: rgb(25, 75, 111);
}
.done h2{
    background-color: rgb(185, 255, 187);
    color: rgb(41, 173, 41);
}
.del h2{
    background-color: rgb(252, 176, 176);
    color: rgb(201, 34, 34);
}
.empty{
    background-color: transparent;
    border: 1px dashed #727272;
}